/* * {
  margin: 0;
} */
h1 {
  color: red;
}
p {
  color: indianred;
  font-size: 25px;
}
.design {
  font-style: italic;
}
ul {
  list-style-type: decimal;
}
ul > li {
  /* padding-top: 5px; */
  color: indianred;
}
